*{fill:none;
	stroke: black;
	stroke-width:0.1mm;

}

.GUIDE__Site{
	stroke: Red;
	stroke-width: 0.2mm;
}

.CONTEXT__Lot{
	stroke: rgb(193, 193, 193);
	fill: None;
	opacity: 0.1;
}

.Road{
	fill: rgb(236, 236, 236);
	stroke: None;
	opacity: 0.1;
}

.ammenBound{
	stroke: Black;
	fill: rgb(255, 231, 253);
}

.floorArea{
	fill: rgb(216, 245, 249);
	stroke: rgb(143, 209, 219);
}

.floorWalls, .groundWalls{
	fill: rgb(115, 115, 115);
	stroke-width: 0.02mm;
}
.Lane{
	stroke: rgb(226, 226, 226);
	fill: rgb(246, 246, 246);
	opacity: 0.1;
}

.columns{
	fill: rgb(181, 181, 181);
	stroke:  None;
}

.coreBound{
	stroke: Black;
	stroke-width: 0.1mm;
	fill: rgb(239, 239, 239);	
}

.GUIDE__2_Building_Atrium__ENTRY{
	fill: rgb(236, 236, 236);
	stroke: None;
}

.Building_footprint{
	fill: rgb(249, 231, 255);
	stroke: rgb(181, 148, 192);
}


.text{
	fill: Black;
	stroke: None;
	opacity: 0.1;
}

.AreaTag{
	fill: Black;
	stroke: None;
}



